#root {
  color: navy;
  font-family: 'Roboto', sans-serif;
}

.header-element{
  display:flex;
  justify-content: center;
}

.tv-show-card{
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 1rem;
}

.tv-show-details-area{
  border: 1px dotted black;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
}

.tv-show-info-area{
  margin: 1rem;
  padding: 0.1rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.tag-line{
  display:flex;
  justify-content: center;
}

.shows-dropdown {
  font-size: large;
  margin: 1rem;
}

.search-input {
  padding: 0.5rem;
  margin: 1rem;
  font-size: large;
}
.episodes-container {
  background-color: rgb(63,73,82);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.episode-holder {
  background-color: azure;
  padding: 1rem;
  border-radius: 10px;
}

.hide-it {
  display: none;
}

.episode-title-area {
  background-color: rgb(167,154,156);
  text-align: center;
  padding: 1rem;
  margin: 2rem 2rem;
  border: 3px solid grey;
  border-radius: 10px;
}

.episode-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: x-large;
  color: white
}

.image-area {
  margin: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}


.tv-show-image-medium{
  margin: 10px;
  border-radius: 10px;

}

.summary-area{
  margin: 2rem;
}

.footer-area{
  margin: 4rem;
}

