#root {
  color: blue;
}

.episodes-container {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.episode-holder {
  background-color: azure;
  padding: 1rem;
}