#root {
  color: navy;
  font-family: 'Roboto', sans-serif;
}

.search-input {
  padding: 0.5rem;
  margin: 1rem;
}
.episodes-container {
  background-color: rgb(63,73,82);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.episode-holder {
  background-color: azure;
  padding: 1rem;
  border-radius: 10px;
}

.episode-title-area {
  background-color: rgb(167,154,156);
  text-align: center;
  padding: 1rem;
  margin: 2rem 2rem;
  border: 3px solid grey;
  border-radius: 10px;
}

.episode-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: x-large;
  color: white
}

.image-area {
  margin: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.summary-area{
  margin: 2rem;
}